# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: uv run pylint .
        language: system
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: uv run pytest -v
        language: system
        pass_filenames: false

      - id: ty
        name: ty check
        entry: uv run ty check
        language: system
        pass_filenames: false

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
